header {
	background-color: black;
    padding-left: 20px;
}

header nav {
	text-align:right;
    padding-top: 40px;
    padding right: 40px;

}

header nav a {
	color: white;
	text-decoration: none;
    margin: 5px;
}

header hr {
	width: 12px;
	height: 1px;
	background-color: white;
	margin: 3px; 
}

header h1 { 
	color: white;
	padding-top: 10px;
	position: relative;
}
.menu-icon {
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 18px;
	display: none;
}

@media (max-width: 767px) {
	header nav, header h1 {
    	padding: 0;
    	text-align: center;
	}
	.menu-icon {
		display: block; 
	}

	header nav a {
		display: block; 
	}

     header nav {
	    display:none;
    }
}



